[build]
  # Directory to change to before starting a build
  base = "client"
  
  # Directory that contains the deploy-ready HTML files and assets
  # This is relative to the 'base' directory
  publish = "dist"
  
  # Default build command
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"
